.BacktestChartLegend {
  display: flex;
  white-space: pre;
  position: fixed;
  z-index: 10;
  margin: 5px;
  padding: 5px;
  font-family: monospace;
  background: white;
  border: 1px solid;
}

.BacktestChartLegend > *:first-child {
  min-width: 10em;
}

.BacktestChartLegendTime {
  font-size: x-large;
}

.BacktestChartLegendChange {
  color: green;
  font-size: x-large;
}

.BacktestChartLegendChange[data-negative="true"] {
  color: red;
}
